:root {
    --bg-app: #ebedf0;
    --bg-white: #ffffff;
    --bg-input: #f2f3f5;
    --accent-blue: #2688eb;
    --bg-error: #faebeb;
    --border: #e0e0e0;
    --text-black: #1b1311;
    --text-gray: #6d7885;
    --text-gray-light: #bdc2c8;
    --text-error: #e64646;
    --skeleton-dark: #ebedf0;
    --skeleton-light: #f6f7fa;

    --font-vk: 'VKSansDisplay', 'Futura', 'Arial', sans-serif;

    --font-size-s: 16px;
    --font-size-l:  18px;
    --font-size-xl: 22px;

    --line-height-s: 20px;
    --line-height-l: 23px;
    --line-height-xl: 28px;
}
