.button {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    border: none;
    background-color: transparent;
}

.primary {
    background-color: var(--accent-blue);
    color: var(--bg-white);

    &:hover {
        opacity: 0.9;
    }
}

.outline {
    background-color: var(--bg-white);
    color: var(--accent-blue);
    border: 1px solid var(--accent-blue);

    &:hover {
        opacity: 0.7;
    }
}
